<a href="https://colab.research.google.com/github/anna12gl/Homeworks/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Домашнее задание на SQL
В базе данных teacher создайте таблицу Students
Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)
Наполните таблицу следующими данными:
201, Иван, 1
202, Петр, 2
203, Анастасия, 3
204, Игорь, 4
Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.
Формат вывода:
ID Студента:
Имя студента:
ID школы:
Название школы:

In [2]:
import sqlite3
import pandas as pd
connection = sqlite3.connect("Students.db")
query = "SELECT * FROM Students"
df = pd.read_sql(query,connection)
print(df)

connection2 = sqlite3.connect("teachers.db")
df.to_sql("Students", connection2, index = False)
print('ok')

   Student_id Student_name  School_id
0         201         Иван          1
1         202         Петр          2
2         203    Анастасия          3
3         204        Игорь          4
ok

In [4]:
import sqlite3

def get_student(student_id):
  connection = sqlite3.connect("teachers.db")
  cursor = connection.cursor()
  query = "SELECT * FROM School JOIN Students ON School.School_Id = Students.School_Id WHERE Students.Student_id = ?"
  cursor.execute(query,(student_id,))
  records = cursor.fetchall()
  print(records)
  for row in records:
    print()

get_student(201)

[(1, 'Протон', 200, 201, 'Иван', 1)]